<!DOCTYPE html>
<html lang="zh" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS入门学习</title>
    <script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
</head>
<body>
     <div ng-controller="childCtrl1">
        {{name}}
        <button ng-click="setName()">set name to jack jack jack</button>
     </div>
     <div ng-controller="childCtrl2">
        {{name}}
        <button ng-click="setName()">set name to tom tom tom</button>
     </div>
</body>
<script type="text/javascript">
var app = angular.module('myApp', []);
app.value('data',{'name':'我是林炳文'});
app.controller('childCtrl1', function($scope,data) {
  $scope.name = data.name;
    $scope.setName = function() {
         data.name = "aa";
         $scope.name = "set name to jack jack jack";
    };
});
app.controller('childCtrl2', function($scope,data) {
     $scope.name = data.name;
       $scope.setName = function() {
      $scope.name = data.name
    };
});
</script>
</html>